.btn-green {
  background-color: #37CC43;
  border-color: #9BF2A2;
  color: #05400A; }

.btn-orange {
  background-color: #E67E39;
  border-color: #F59B6E;
  color: #5C2B0A; }

.btn-blue {
  background-color: #59BAFF;
  border-color: #99D5FF;
  color: #052D4A; }

.big-button {
  width: 100%;
  height: 100px;
  border-radius: 2px;
  position: relative;
  text-align: center;
  line-height: 96px;
  border-width: 3px;
  border-style: solid;
  margin-top: 30px;
  font-size: 26px;
  cursor: pointer; }
  .big-button span {
    float: left;
    width: 100%; }

input.big-input {
  width: 100%;
  border-radius: 1px !important;
  border: 2px solid gray;
  margin-top: 50px;
  margin-bottom: 20px; }

.bar-header {
  height: 100px; }

.ion-content {
  margin-top: 56px; }

img.logo {
  height: 88px; }

.btn-disabled {
  opacity: 0.5;
  cursor: default; }
